PUBLIC_PORT=1234

AFFINE_SERVER_EXTERNAL_URL=http://localhost:1234

DB_USERNAME=affine
DB_PASSWORD=affine
DB_DATABASE=affine

DB_DATA_LOCATION=./data/postgres/pgdata
UPLOAD_LOCATION=./data/storage
CONFIG_LOCATION=./data/config

HOST_NAMES=http://localhost:1234

DATABASE_URL="postgres://affine:affine@127.0.0.1:5432/affine"
REDIS_SERVER_HOST=127.0.0.1
COPILOT_FAL_API_KEY=YOUR_KEY
COPILOT_OPENAI_API_KEY=YOUR_KEY
COPILOT_PERPLEXITY_API_KEY=YOUR_KEY

MAILER_HOST=127.0.0.1
MAILER_PORT=1025
MAILER_SERVERNAME="mail.example.com"
MAILER_SENDER="noreply@toeverything.info"
MAILER_USER="noreply@toeverything.info"
MAILER_PASSWORD="affine"
MAILER_SECURE=false

AFFINE_INDEXER_ENABLED=false
