PUBLIC_PORT=1234

AFFINE_SERVER_EXTERNAL_URL=http://localhost:1234

DB_USERNAME=affine
DB_PASSWORD=affine
DB_DATABASE=affine

DB_DATA_LOCATION=./data/postgres/pgdata
UPLOAD_LOCATION=./data/storage
CONFIG_LOCATION=./data/config

HOST_NAMES=http://localhost:1234
